body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f9;
  background-image: linear-gradient(to bottom, #007bff, #6597ff, #95b4ff, #c0d2ff, #e9efff);
}
input, textarea, select {
  font-family:inherit;
  font-size: 1rem;
}
button {
  font-family:inherit;
  cursor: pointer;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
